{% extends 'base.html.twig' %}

{% block body %}
    <div class="site-wrapper">
        <div class="header">
            <div class="pull-left">
                <strong>stea<span class="text-success">meter</span>.</strong>
            </div>

            <div class="pull-right">
                {% block logout %}
                    {% if is_granted('ROLE_STEAM_USER') %}
                        [<a href="{{ path('logout') }}">sing out</a>]
                    {% endif %}
                {% endblock %}
            </div>
        </div>

        <div class="site-content">
            <div class="contaner">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="pull-left">
            &copy; steameter.
        </div>

        <div class="pull-right">
            powered by <a href="http://steampowered.com" target="_blank">steam</a>.
        </div>
    </div>
{% endblock %}