{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>measure your coolness.</h1>

        {{ include('AppBundle:Homepage:text.html.twig') }}
    </div>

    {{ render(controller('AppBundle:Homepage:newUsers')) }}
{% endblock %}