{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>title.</h1>

    <p>some text information.</p>

    <p class="text-center">
    	just <a href="{{ path('auth') }}"><img src="{{ asset('bundles/app/images/steam_button.png') }}" alt="sign in through steam" /></a>.
    </p>
{% endblock %}