<p>
    do you play computer games via
    <a href="http://steampowered.com" target="_blank">steam</a>
    and unlock achievements?
    <br />
    this project can help you measure how much of
    a hardcore gamer you are and show it to your friends.
    find out what you've achieved.
</p>

<p class="text-center">
	just <a href="{{ path('login') }}"><img src="{{ asset('bundles/app/images/steam_button.png') }}" alt="sign in through steam" /></a>.
</p>