{% if users | length %}
    <div class="new-users jumbotron">
        <h2 class="text-center">
            other gamers:
        </h2>

        {% for user in users %}
            <div class="user-card">
                <img src="{{ user.avatar }}" />

                {{ include('AppBundle:User:rating.html.twig') }}
            </div>
        {% endfor %}

        <div class="clearfix"></div>
    </div>
{% endif %}