<div class="user-card">
    <h2 class="text-nowrap">
        <img src="{{ user.avatar }}" />
        {{ user.personaname }}
    </h2>

    {% if app.request.get('_route') != 'user' or not user.isBeingHandled %}
        <p>
            <span class="text-success score-main">{{ user.ratingInteger }}</span>.{{ user.ratingFraction }}
            s<span class="text-success">m</span>.
        </p>
    {% else %}
        <p id="user-progress">
            
        </p>
    {% endif %}
</div>