<div class="user-card">
    {% if user.isBeingHandled %}
        <div id="user-progress" data-url="{{ path('user_progress', { hash: user.hash }) }}">
            {{ render(controller('AppBundle:User:progress', {
                hash: user.hash
            })) }}
        </div>
    {% else %}
        {{ include('AppBundle:User:result.html.twig') }}
    {% endif %}
</div>