{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        {{ include('AppBundle:User:card.html.twig', {
            user: app.user
        }) }}
    </div>
{% endblock %}